In [3]:
import pandas as pd
import os

# Settings
RAW_DATA_PATH = r"D:\My Coding\wildfire_intelligence_mlops\data\raw\Wildfire_Dataset.csv"
PROCESSED_DATA_PATH = r"D:\My Coding\wildfire_intelligence_mlops\data\processed\california_wildfire.csv"

# California Bounding Box (Approximate)
LAT_MIN, LAT_MAX = 32.5, 42.0
LON_MIN, LON_MAX = -124.5, -114.0

def process_data():
    print("ðŸ”¥ Starting Data Processing... (This might take a minute)")
    
    # Check if raw file exists
    if not os.path.exists(RAW_DATA_PATH):
        print(f"âŒ Error: File not found at {RAW_DATA_PATH}")
        return

    chunk_size = 100000  # Read 100k rows at a time to save RAM
    chunks = []
    
    # Read in chunks
    for chunk in pd.read_csv(RAW_DATA_PATH, chunksize=chunk_size):
        # Filter for California Coordinates
        # Column names based on Kaggle dataset (FireCastRL)
        if 'navigationlatitude' in chunk.columns:
            cali_chunk = chunk[
                (chunk['navigationlatitude'] >= LAT_MIN) & 
                (chunk['navigationlatitude'] <= LAT_MAX) &
                (chunk['navigationlongitude'] >= LON_MIN) & 
                (chunk['navigationlongitude'] <= LON_MAX)
            ]
            chunks.append(cali_chunk)
    
    # Combine all chunks
    if chunks:
        df_cali = pd.concat(chunks)
        print(f"âœ… Filtered Data Shape: {df_cali.shape}")
        
        # Save to processed folder
        os.makedirs(os.path.dirname(PROCESSED_DATA_PATH), exist_ok=True)
        df_cali.to_csv(PROCESSED_DATA_PATH, index=False)
        print(f"ðŸ’¾ Saved processed data to: {PROCESSED_DATA_PATH}")
        
        # Print columns for sanity check
        print("\nðŸ” Columns available:")
        print(df_cali.columns.tolist())
    else:
        print("âš ï¸ No data found for the specified region.")

In [4]:
import os
import pandas as pd

# Check current working directory
print("ðŸ“‚ Current working directory:", os.getcwd())
print("\nðŸ“ Files in current directory:")
print(os.listdir('.'))

# Check if file is in current directory
files = os.listdir('.')
csv_files = [f for f in files if f.endswith('.csv')]
print("\nðŸ“„ CSV files found:", csv_files)

ðŸ“‚ Current working directory: d:\My Coding\wildfire_intelligence_mlops\notebooks

ðŸ“ Files in current directory:
['testing_notebook.ipynb']

ðŸ“„ CSV files found: []

In [5]:
df = pd.read_csv(RAW_DATA_PATH)

df.head()

,latitude,longitude,datetime,Wildfire,pr,rmax,rmin,sph,srad,tmmn,tmmx,vs,bi,fm100,fm1000,erc,etr,pet,vpd
0,48.128431,-97.276685,2018-08-15,No,0.0,78.6,14.9,0.00582,272.6,282.0,301.6,3.0,40.0,10.2,12.2,54.0,7.5,5.5,1.59
1,48.128431,-97.276685,2018-08-16,No,0.0,80.4,13.9,0.00676,264.0,283.9,304.9,3.0,40.0,9.7,12.0,56.0,8.2,5.9,1.93
2,48.128431,-97.276685,2018-08-17,No,0.0,70.9,20.4,0.00672,265.6,285.8,300.7,3.1,40.0,9.2,11.9,56.0,7.2,5.3,1.51
3,48.128431,-97.276685,2018-08-18,No,5.0,65.2,19.4,0.00756,261.4,289.0,303.3,5.1,0.0,9.9,12.0,40.0,10.0,6.9,1.85
4,48.128431,-97.276685,2018-08-19,No,0.0,100.0,42.2,0.00895,166.8,283.8,296.5,4.7,41.0,11.8,12.1,47.0,4.6,3.4,0.66

In [6]:
df.describe()

,latitude,longitude,pr,rmax,rmin,sph,srad,tmmn,tmmx,vs,bi,fm100,fm1000,erc,etr,pet,vpd
count,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06,9.509925e+06
mean,3.914362e+01,-1.064347e+02,9.036891e+01,1.645754e+02,1.220707e+02,8.864304e+01,3.091587e+02,3.682137e+02,3.821415e+02,9.239142e+01,1.221668e+02,1.013892e+02,1.030986e+02,1.320922e+02,9.425599e+01,9.275527e+01,8.976546e+01
std,5.267332e+00,1.456924e+01,1.701836e+03,1.698086e+03,1.700272e+03,1.701914e+03,1.692717e+03,1.687376e+03,1.686659e+03,1.701719e+03,1.700336e+03,1.701257e+03,1.701169e+03,1.699822e+03,1.701624e+03,1.701701e+03,1.701856e+03
min,2.526027e+01,-1.244370e+02,0.000000e+00,5.000000e+00,1.000000e+00,1.300000e-04,0.000000e+00,2.309000e+02,2.419000e+02,3.000000e-01,0.000000e+00,1.100000e+00,2.100000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.468867e+01,-1.183439e+02,0.000000e+00,6.180000e+01,1.930000e+01,3.600000e-03,1.472000e+02,2.749000e+02,2.879000e+02,2.600000e+00,1.900000e+01,8.700000e+00,1.030000e+01,2.500000e+01,3.200000e+00,2.300000e+00,4.700000e-01
50%,3.853161e+01,-1.109258e+02,0.000000e+00,8.000000e+01,3.080000e+01,5.520000e-03,2.277000e+02,2.811000e+02,2.955000e+02,3.400000e+00,3.400000e+01,1.290000e+01,1.480000e+01,3.900000e+01,5.400000e+00,4.100000e+00,9.200000e-01
75%,4.367004e+01,-9.541990e+01,0.000000e+00,9.520000e+01,4.550000e+01,7.790000e-03,3.001000e+02,2.864000e+02,3.019000e+02,4.600000e+00,5.000000e+01,1.660000e+01,1.840000e+01,6.100000e+01,7.700000e+00,5.800000e+00,1.580000e+00
max,4.899873e+01,-6.701250e+01,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04,3.276700e+04

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9509925 entries, 0 to 9509924
Data columns (total 19 columns):
 #   Column     Dtype
---  ------     -----
 0   latitude   float64
 1   longitude  float64
 2   datetime   object
 3   Wildfire   object
 4   pr         float64
 5   rmax       float64
 6   rmin       float64
 7   sph        float64
 8   srad       float64
 9   tmmn       float64
 10  tmmx       float64
 11  vs         float64
 12  bi         float64
 13  fm100      float64
 14  fm1000     float64
 15  erc        float64
 16  etr        float64
 17  pet        float64
 18  vpd        float64
dtypes: float64(17), object(2)
memory usage: 1.3+ GB

In [8]:
df.columns

Index(['latitude', 'longitude', 'datetime', 'Wildfire', 'pr', 'rmax', 'rmin',
       'sph', 'srad', 'tmmn', 'tmmx', 'vs', 'bi', 'fm100', 'fm1000', 'erc',
       'etr', 'pet', 'vpd'],
      dtype='object')